.carousel {
    height: 100vh;
    z-index: -1;
    margin-top: -510px;
}

.carousel-image {
    filter: brightness(50%);
}

.header-txt {
    position: relative;
    font-size: 7vw;
    text-align: center;
    color: white;
    bottom: -100px;
    text-transform: capitalize;
    font-weight: 600;
}

.txt-div {
    display: flex;
    flex-direction: column;
    line-height: 100px;
}

.sub-header {
    position: relative;
    font-size: 2.5vw;
    color: white;
    bottom: -100px;
    text-align: center;
}

.header-buttons {
    display: flex;
    position: relative;
    bottom: -100px;
    justify-content: center;
}

.header-buttons > button {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}